{% extends "base.html.twig" %}

{% block title %}Personnes - Ajout{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center title-page-form">Ajouter une personne</h1>
        
        {% include "personne/form.html.twig" %}
    </div>

{% endblock %}