{% extends "base.html.twig" %}

{% block title %}Personnes - Modification{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center title-page-form">Modifier une personne</h1>

        {% include "personne/form.html.twig" %}
    </div>

{% endblock %}