<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRUD APP{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% block flashes %}
            {% if app.session.has('red_msg') %}
                <div class="alert alert-danger my-4 mx-auto text-center w-50">{{ app.session.remove('red_msg') }}</div>
            {% endif %}

            {% if app.session.has('green_msg') %}
                <div class="alert alert-success my-4 mx-auto text-center w-50">{{ app.session.remove('green_msg') }}</div>
            {% endif %}
        {% endblock %}

        {% block body %}

            {# Contenu ici... #}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
